// Modal Overlay (modal backdrop)
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); // Fond semi-transparent
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal {
        background: $grayDark;
        padding: 20px;
        border-radius: 8px;
        width: 100%;
        // overflow: scroll;
        max-width: 80%;
        height: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;

        .modal-content {
            overflow-y: scroll;
            padding: 30px;
            max-height: 80vh;

            .modal-close {
                position: absolute;
                top: 20px;
                right: 50px;
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                    fill: #333; // Couleur de l'icône de fermeture
                }
            }

            .card-modal-title {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            .card-modal-content {
                margin-top: 20px;

                .card-modal-context,
                .card-modal-challenge {
                    margin-bottom: 20px;

                    .technology-list {
                        list-style-type: none;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;

                        .technology-item {

                            margin-right: 15px;
                            color: $mint-green;
                        }
                    }

                    h4 {
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                    }

                    p {
                        line-height: 1.6;
                    }
                }


            }
        }
    }

    .card-modal-links {


        .card-modal__link {
            border: 2px solid white;
            padding: 10px 20px;
            color: white;
            text-decoration: none;
            border-radius: 10px;
            transition: background-color 0.3s ease;
            font-size: 1rem;
            color: $red;



            &:hover {
                background-color: $blueLight; // Change this color to whatever suits your design
            }
        }



    }
}