.presentation-main {
    @media screen and (min-width:901px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    text-align: center;
    border-bottom: 2px solid $grayDark;

    h1 {
        padding: 20px 0;
    }

    .text-presentation {
        margin: 50px;
        text-align: left;

        strong {
            color: $mint-green;
        }
    }

    .image-presentation {
        margin: 20px;
    }

    .download-btn {
        @include button();
        background-color: $white;
        display: flex;
        align-items: center;


        img {
            width: 30px;
            color: $mint-green;


        }

        a {
            color: $blueNight;
            border: none;
            padding: 0;

        }


    }
}